<div class="card-content">
	<div class="card-img">
		<img src="https://placeimg.com/380/230/nature" alt="">
		<span><h4>{{position}}</h4></span>
	</div>
	<div class="card-desc">
		<h3>{{destino.nombre}}</h3>
		<p><span *ngIf="destino.isSelected()" class="badge badge-success"><span ngNonBindable>{{PREFERIDO}}</span></span></p>
		<p>Servicios</p>
		<ul>
			<li *ngFor="let s of destino.servicios">
				<span [ngSwitch]="s">
					<i *ngSwitchCase="'desayuno'" class="text-danger">{{s}}</i>
					<i *ngSwitchDefault>{{s}}</i>
				</span>
			</li>
		</ul>
		<div >
			<a href="#" (click)="voteUp()"><i class="material-icons md-14">thumb_up</i></a>&nbsp;&nbsp;
			<a href="#" (click)="voteDown()"><i class="material-icons md-18">thumb_down</i></a>
			{{destino.votes}}
		</div>
		<p><a href="#" class="btn-card" (click)="ir()">IR</a></p>			
		<!--span [style.display]="destino.isSelected() ? '' : 'none'">PREFERIDO</span-->
		<p><a [routerLink]="['/destino', destino.id]">Ver detalle</a></p>
	</div>
</div>

