<p>
   Aqui vemos el detalle de un destino de un viaje!
   <br>
  {{destino.id}}
</p>
<hr>
<mgl-map 
  [style]="style"
  [zoom]="[2]"
  style="height:50vh; width: 100wv;"
  >
<mgl-marker [lngLat]="[-75.551012, 10.421185]">
  <div onclick="alert('hola')" class="marker">
      Hola mas mundo
  </div>
</mgl-marker>
</mgl-map>