<div class="container content">
	<div class="page-header">
		<div style="float: right">
			<select (change)="translate.use($event.target.value)">
				<option value="es">Español</option>
				<option value="fr">France</option>
				<option value="en">English</option>
			</select>
		</div>
		<div class="container">
			<h1 ><span class="badge badge-info"><span [innerHTML]="'ruteo_simple' | translate"></span></span></h1>
			<div class="navLinks">
				<a [routerLink]="['/home']">Home</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<h2>
				<span class="badge badge-warning">{{ title }} <b [innerHTML]="'HOLA' | translate"></b></span>
			</h2>
		</div>	
	</div>
	<!--app-lista-destinos></app-lista-destinos-->
	<router-outlet></router-outlet>
</div>
<hr class="mb-5">

<!--Fecha: {{ time | async }}-->
